@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.tags {
  font-family: 'EB Garamond', serif;
}